<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCeLairgT95DWHNnzk2C5xVs-25rwdzMwg</string>
	<key>GCM_SENDER_ID</key>
	<string>103212288917</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>YuriyValenteev.InChat</string>
	<key>PROJECT_ID</key>
	<string>inchat-3b34e</string>
	<key>STORAGE_BUCKET</key>
	<string>inchat-3b34e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:103212288917:ios:60d5bfc3f9aab84de6449c</string>
</dict>
</plist>